<h2><%= @inventory.name%></h2>
<%= link_to 'Add Food', new_inventory_inventory_food_path(inventory_id: @inventory_id), class: 'btn btn-outline-dark btn-sm' %>
<hr>
<table class="table table-striped table-bordered">
		<% if @inventory.inventory_foods.any? %>
			<thead>
				<tr>
					<th scope="col">Food</th>
					<th scope="col">Quantity</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
			<% @inventory.inventory_foods.each do |food_recipe| %>
				<tr>
					<td><%=food_recipe.food.name %></td>
					<td><%=food_recipe.quantity %> <%=food_recipe.quantity_unit %></td>
					<td>

      			<%= link_to 'Remove', inventory_inventory_food_path(@inventory, id: food_recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				</tr>
			<% end %>
			</tbody>
		<% end %>
	</table>
