<div class="mb-3">
<div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food|%>
    <tr>
      <td><%=food.name%></td>
      <td><%=food.measurement_unit%> <%=food.unit_quantity%></td>
      <td>$<%=food.measurement_unit * food.price%></td>
      <td><%= link_to "Delete",[food], method: :delete, data: {confirm: 'Are you sure!'} %></td>
    </tr>
  <%end%>
  </tbody>
</table>
</div>
<%= link_to "Add Food", new_food_path, class: "btn btn-outline-dark btn-sm" %>
</div>
